.header__info-row
  = link_to 'Qbrick CMS', qbrick.cms_root_path, :class => 'brand'
  %ul.nav.pull-right.language-navigation
    - if render_language_switch?
      - I18n.available_locales.each do |locale|
        %li{ :class => (:active if I18n.locale.to_s == locale.to_s) }
          = link_to_content_locale(locale)

    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        = t('.account')
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('.change_password'), edit_cms_account_path
        %li= link_to t('.logout'), destroy_admin_session_path, :method => :delete

.header__nav-row
  = render 'main_navigation'

  #toolbar
