.header__meta
  .header__inner
    = link_to qbrick.cms_root_path, :class => 'header__title' do
      %h1 Qbrick CMS

    - if render_language_switch?
      .header__languages
        .btn__group
          - I18n.available_locales.each do |locale|
            .btn.btn--tertiary{ :class => (:'btn--active' if I18n.locale.to_s == locale.to_s) }
              = link_to_content_locale(locale)

      .header__account
        .btn__group
          .dropdown
            %button.btn.btn--tertiary.dropdown__toggle{ 'data-toggle' => 'dropdown', type: 'button', aria: {epanded: 'false', haspopup: 'true' }}
              = t('qbrick.cms.backend.account')
              - streusel_icon('people')
            %ul.dropdown__menu{role: 'menu'}
              %li
                = link_to t('.change_password'), edit_cms_account_path
              %li
                = link_to t('.logout'), destroy_admin_session_path, :method => :delete

.header__nav-row
  .header__inner
    = render 'main_navigation'

  #toolbar
