!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Screen Concept CMS
    = stylesheet_link_tag 'qbrick/cms/application.css', media: 'all'
    = stylesheet_link_tag 'qbrick/cms/customizations.css', media: 'all'
    = csrf_meta_tag

  %body{ :class => "#{controller_name}" }
    %header.header{role: "banner"}
      = render 'layouts/qbrick/cms/header'

    %main
      .spacer
      .main__inner
        = render 'flash', :flash => flash
        = yield

    %footer{role: "contentinfo"}

    = javascript_include_tag 'qbrick/cms/application.js'
    = javascript_include_tag 'qbrick/cms/customizations.js'
