= form_for(@admin, :url => { :action => "update_password" } ) do |f|
  .field
    = f.label :current_password
    = f.password_field :current_password
  .field
    = f.label :password, "Password"
    = f.password_field :password, :autocomplete => "off"
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .action_container
    = f.submit
