= simple_form_for settings, url: cms_settings_collection_path(settings), method: :patch, wrapper: :bootstrap, html: { class: 'form-horizontal' } do |f|

  .form-inputs
    = f.simple_fields_for :settings do |nf|
      = nf.input :value, label: t(".#{nf.object.key}"), as: :string

  .form-actions
    = f.button :submit, t('.save')
