= simple_form_for settings, url: cms_settings_collection_path(settings), method: :patch, wrapper: :partystreusel do |f|

  = f.simple_fields_for :settings do |nf|
    = nf.input :value, label: t(".#{nf.object.key}"), as: :string

  .form__indent--horizontal
    = f.button :submit, t('.save')
