%header.main__header
  %h1= t('.Settings')

.spacer
- @settings_collections.each do |sc|
  - if sc.present?
    .main__content.form__container
      .form__inner
        %h2= "#{sc.collection_type.capitalize} #{t('.title')}"
        = render 'form', settings: sc

    .spacer
