.main__content.form__container
  .form__inner
    = simple_form_for([:cms, @admin], wrapper: :horizontal) do |f|
      = f.error_notification

      %p.form--horizontal
        = f.input :email
      %p.form--horizontal
        = f.input :password
      %p.form--horizontal
        = f.input :password_confirmation

      .form__indent--horizontal
        = f.button :submit, class: 'btn'
