%header.main__header
  %h1= t("cms.index_title", plural_name: @admins.first.model_name.human(count: 2))

  = link_to new_cms_admin_path, :class => 'btn btn--icon btn--icon-big-white', title: t("cms.admin.new", plural_name: @admins.first.model_name.human, default: t('cms.default.new')) do
    - streusel_icon('item-new', 'icon--m')
    %span= t("cms.admin.new", plural_name: @admins.first.model_name.human, default: t('cms.default.new'))

.spacer
.sc-table
  %table
    %thead
      %tr
        %th
          Admin
        %th{ align: 'right'}
          Actions

    %tbody
      - @admins.each do |admin|
        %tr
          %td= admin.email
          %td{ align: 'right'}
            = link_to edit_cms_admin_path(admin), class: 'btn btn--icon', title: t("cms.edit") do
              - streusel_icon('edit')
              =t("cms.edit")
            =link_to cms_admin_path(admin), method: :delete, data: { confirm: t('cms.are_you_sure') }, class: 'btn btn--icon', title: t('cms.destroy') do
              - streusel_icon('trash')
              =t('cms.destroy')
