%h1= t("cms.index_title", plural_name: @admins.first.model_name.human(count: 2))

.row-fluid.actions
  .pull-right.padded
    = link_to new_cms_admin_path, :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      = t("cms.admin.new", plural_name: @admins.first.model_name.human, default: t('cms.default.new'))

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.email
        %td= link_to t("cms.edit"), edit_cms_admin_path(admin)
        %td
          =link_to cms_admin_path(admin), method: :delete, data: { confirm: t('cms.are_you_sure') }, class: 'btn btn-small btn-danger' do
            %i.icon-trash.icon-white
            =t('cms.destroy')

%br
