= simple_form_for([:cms, resource], wrapper: :horizontal) do |f|
  = f.error_notification

  .form-inputs
    - resource.class.editable_attributes.each do |column_name|
      - if column_name.to_s.end_with? '_id'
        = f.association column_name.to_s.gsub(/_id$/, '').to_sym
      - else
        = f.input column_name

  .form-actions
    = f.button :submit
