%h1= t("cms.index_title", plural_name: t("cms.#{resource_collection_name}.plural_name"))

.row-fluid.actions
  .pull-right.padded
    = link_to new_resource_path, :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      = t("cms.#{resource_collection_name}.new", plural_name: resource_collection_name, default: t('cms.default.new'))

%table.table.table-bordered.table-striped
  %thead
    %tr
      - collection.index_attributes.each do |column_name|
        %th= collection.human_attribute_name column_name
      %th
      %th

  %tbody
    - collection.each do |item|
      %tr
        - collection.index_attributes.each do |column_name|
          %td= item.send(column_name)
        %td= link_to t("cms.edit"), edit_resource_path(item)
        %td
          =link_to resource_path(item), method: :delete, data: { confirm: t('cms.are_you_sure') }, class: 'btn btn-small btn-danger' do
            %i.icon-trash.icon-white
            =t('cms.destroy')

%br
