.link
  = link_to page.link do
    %h4= page.title
  %h5= qbrick.page_path url: page.path
.summary
  -if page.excerpt.present?
    .excerpt!= page.excerpt
  -elsif page.fulltext.present?
    .fulltext!= excerpt(highlight(page.fulltext, @search), @search)

  -if page.keywords.present?
    .keywords
      = page.keywords
