- unless pages.blank?
  %ol.page-tree__list
    - pages.each do |page|
      %li.page-tree__item{ 'data-id' => page.id }
        %button.btn.btn--icon.page-tree__handle{ type: 'button', title: t('qbrick.cms.pages.index.sort') }
          - streusel_icon('order')
        .page-tree__content{ class: page.state_class }
          = link_to page.title.presence, qbrick.edit_cms_page_path(page)

          .btn__group
            = link_to qbrick.edit_cms_page_path(page), class: 'btn btn--tertiary' do
              - streusel_icon('edit')
              = t('qbrick.cms.pages.index.edit')

            - if page.children.empty?
              = link_to qbrick.cms_page_path(page), confirm: t('qbrick.cms.backend.confirm_delete', name: page.title), method: :delete, class: 'btn btn--icon btn--delete' do
                - streusel_icon('trash')

            = link_to qbrick.new_cms_page_path(parent_id: page.id), class: 'btn btn--icon', title: t('qbrick.cms.pages.index.add_page') do
              - streusel_icon('item-new')
              = t('qbrick.cms.pages.index.add_page')

        - unless page.children.empty?
          = render partial: 'branch', locals: { pages:  page.children }
