-# %ul.nav.nav-tabs.js-tabs
-#   - I18n.available_locales.reverse.each do |locale|
-#     %li.pull-right{ :class => (:active if current_locale? locale) }
-#       - if @page.translated_to?(locale)
-#         = link_to_content_locale(locale)
-#       - else
-#         = link_to locale.to_s.upcase, url_for(:action => params[:action], :content_locale => locale), 'data-toggle' => 'tooltip', 'title' => t('.not_translated'), :class => 'not-translated'

= simple_form_for @page, url: url, html: { class: '' }, wrapper: :partystreusel do |form|
  .main__header.form__title-wrapper
    = form.input_field :title, required: false, class: 'form__title-field', placeholder: 'Seitentitel'

  .main__content.form__container
    .form__inner
      %fieldset
        = form.input :slug
        = form.input :title
        = form.input :published, as: :boolean, wrapper: :partystreusel_boolean, wrapper_html: { class: 'form__indent--horizontal'}

      .form__indent--horizontal
        = form.button :submit, class: 'btn'

  .spacer
  .main__content.form__container.page__settings
    .accordion.js-accordion{ 'data-scroll-offset' => -10 }
      %fieldset.accordion__item
        %legend.accordion__title Settings
        .accordion__content
          = form.input :parent_id, collection: Qbrick::Page.flat_tree, label_method: :nesting_name, selected: params[:parent_id].presence || @page.parent_id.presence, prompt: t('.none'), input_html: { class: :span3 }
          = form.input :page_type, collection: Qbrick::PageType.all, prompt: false, default: Qbrick::PageType::CONTENT, input_html: { class: :span3 }
          = form.input :redirect_url, as: :string
          = form.input :url, as: :string, input_html: { disabled: 'disabled' }
          = form.input :keywords, input_html: { class: :span5 }, hint: t('.hint_keywords').html_safe
          - if @page == homepage
            = form.input :google_verification_key
          = form.input :description, as: :text, input_html: { class: :span5, rows: 4 }, hint: t('.hint_description').html_safe

          .form__indent--horizontal
            = form.button :submit, class: 'btn'
          .spacer

.spacer
%article
  - unless hide_content_tab?(@page)
    #brick-form.modal{ tabindex: '-1', role: 'dialog' }
    #page-content{ class: content_tab_active(@page) }
      - if @page.persisted?
        .btn__group#collapse-bricks-nav{ class: @page.bricks.present? ? '' : 'hidden' }
          .btn.btn--small#expand-all
            = t('.expand_all')
          .btn.btn--small#collapse-all
            = t('.collapse_all')

        = render 'brick_clone_menu'
        = render 'brick_type_dropdown', brick_list: @page

      = render 'qbrick/cms/bricks/brick_list', brick_list: @page

  = render 'qbrick/cms/bricks/sort_form'
