%header.main__header
  %ol.breadcrumb
    %li.breadcrumb__item
      = link_to Qbrick::Page.model_name.human(:count => 2), qbrick.cms_pages_path
    - @page.parent_pages.each do |parent_page|
      %li.breadcrumb__item
        - if @page.parent_pages.last == parent_page
          %span.breadcrumb__item--active= parent_page.title
        - else
          = link_to parent_page.title, qbrick.edit_cms_page_path(parent_page)

  %h1= @page.title

.main__content.form__container
  .form__inner
    = render :partial => 'form', :locals => { :url => qbrick.cms_page_path(@page), :page_title => t('.edit_html', :title => @page.title ) }
